@import url(//fonts.googleapis.com/css2?family=Martel:wght@300;400;600;700;800&display=swap);
@import url(//fonts.googleapis.com/css2?family=Open + Sans:wght@300;400;600;700&display=swap);

h1 {
  font-size: 96px;
  font-weight: 300;
}

h2 {
  font-size: 60px;
  font-weight: 300;
}

h3 {
  font-size: 48px;
  font-weight: 400;
}

h4 {
  font-size: 34px;
  font-weight: 400;
}

h5 {
  font-size: 24px;
  font-weight: 500;
}

h6 {
  font-size: 20px;
  font-weight: 600;
}

p {
  font-size: 14px;
  font-weight: 400;
}

body {
  background: #fafafa;
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Martel", "Open Sans", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
